# Server configuration
PORT=3000
JWT_SECRET=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE

DATABASE_URL=

# Sending Emails

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=

# Frontend URL for password reset

FRONTEND_URL=
NODE_ENV=development

# Payment using paypack

PAYPACK_CLIENT_ID=
PAYPACK_CLIENT_SECRET=

# Google services

GOOGLE_MAPS_API_KEY=
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=


TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=+

# payment using irembo

IREMBOPAY_ACCOUNT_ID= 
IREMBOPAY_SECRET_KEY=

# mails using mailtrap

MAILTRAPTOKEN= 

SWAGGER_SERVER_URL=http://localhost:3000
